body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  #colorPicker {
    margin: 20px 0;
  }
  
  #colorSuggestions {
    margin-top: 30px;
  }
  
  .color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  h2 {
    margin-top: 20px;
  }
  .button-container {
    text-align: center;
    margin-top: 20px;
}

.navigate-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigate-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.navigate-button2 {
  background-color: #f01111;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigate-button2:hover {
  background-color: #d26f6f;
  transform: scale(1.05);
}